a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color:black;
    color:white;
}

#band{
    font-size: 24px;
    font-family: 'Bungee Inline' , cursive;
}

#album{
    
    background-image: url("https://upload.wikimedia.org/wikipedia/en/5/5c/ACDC_Back_in_Black_Single_Cover.jpg");
    height:300px;
    width:300px; 
    margin:30px auto;   
}

#member{
    margin-left:20%;
    font-style:italic;
}

tr{
    font-style:italic;
    background:white;
    color:black;
}

tr:nth-child(even){
    color:white;
    background:black;
}

